<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="navstyle.css">
</head>


<nav>
    <a href="javascript:void(0);" class="mobile-menu-trigger">Open mobile menu</a>
    <ul class="menu menu-bar">
        <li>
            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Products</a>
            <ul class="mega-menu--multiLevel">
                <li>
                    <a href="/page" class="menu-link mega-menu-link mega-menu-header">Pens made in China</a>
                    <ul class="menu menu-list">
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Plastic Pens</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.2 Page link</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.3 Page link</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Plastic Pens</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.2 Page link</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.3 Page link</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Plastic Pens</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.2 Page link</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">2.1.3 Page link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/page" class="menu-link mega-menu-link mega-menu-header">Pens - Germany - KLIO</a>
                    <ul class="menu menu-list">
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Local Stock</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Off Shore Indent</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/page" class="menu-link mega-menu-link mega-menu-header">Bags</a>
                    <ul class="menu menu-list">
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Non Woven Bags</a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">Paper Bags</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu-back-item">
                    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">3. Flat mega menu (2 cols)</a>
            <ul class="mega-menu mega-menu--flat">
                <li>
                    <a href="#" class="menu-link mega-menu-link mega-menu-header">3.1 Page link header</a>
                    <ul class="menu menu-list">
                        <li>
                            <a href="/page" class="menu-link menu-list-link">
                                3.1.1 Page link<br />
                                <small>Short decription of link</small>
                            </a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">
                                3.1.2 Page link<br />
                                <small>Short decription of link</small>
                            </a>
                        </li>
                        <li>
                            <a href="/page" class="menu-link menu-list-link">
                                3.1.2 Page link<br />
                                <small>Short decription of link</small>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-content">
                    <p class="mega-menu-header">3.2 Page link header</p>
                    <p>This is just static content. You can add anything here. Images, text, buttons, your grandma's secrect recipe.</p>
                </li>
                <li class="mobile-menu-back-item">
                    <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/page" class="menu-link menu-bar-link">Static link</a>
        </li>

        <li class="mobile-menu-header">
            <a href="/home" class="">
                <span>Home</span>
            </a>
        </li>
    </ul>
</nav>
